/******************************
    GENERAL STYLES
*******************************/

:root {
    /* Palette */
    --green: #adff2f;
    /* Commons */
    --top-bar-color: #13141a;
    --app-cont-color: #1e2128;
    --bottom-bar-color: #2e2e2e;
    --text-color: #6e6e6e;
    --home-icon-color: #d2d2d2;
    --plus-button-color: #a3a3a3;
}

/* -- RESET -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/******************************
    UTILITIES
*******************************/

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.of-auto {
    overflow: auto;
}

.of-hid {
    overflow: hidden;
}

.noshrink {
    flex-shrink: 0;
}

.white {
    color: white;
}

/******************************
    SITE SECTIONS
*******************************/

/*
SIDEBAR
*/

.sidebar {
    flex-shrink: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background-color: black;
    padding-top: 1.3rem;
}

.sidebar span {
    font-weight: 600;
}

.logo-spot, .playlist-zone, .side-bottom-zone, .side-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.logo-spot {
    width: 60%;
    padding-bottom: 1rem;
}

.top-side-menu {
    padding-bottom: 1rem;
    width: 100%;
}

.side-item {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    line-height: 1rem;
    align-items: center;
}

.side-item.white {
    border-left: 3px solid var(--green);
}

.side-item > svg {
    height: 1.5rem;
    padding-right: 0.5rem;
}

.crea-playlist {
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
}

.fa-square-plus {
    font-size: 2.8rem;
    padding-right: 1rem;
    color: var(--plus-button-color)
}

ul {
    list-style: none;
}

ul > li {
    line-height: 2rem;
    font-weight: 600;
}

.side-item, li {
    font-size: 0.9rem;
}

.install {
    padding-bottom: 0.6rem;
    font-size: 0.85rem;
    align-items: center;
}

.fa-circle-down {
    padding-right: 0.6rem;
}

.account {
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
    align-items: center;
}

.acc-circle {
    display: inline-block;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 1.5rem;
    background-color: #808080;
}

.account > svg {
    width: 1.5rem;
}

.username {
    display: inline-block;
    padding-left: 0.6rem;
    font-size: 0.9rem;
}

/*
PROPER APP ZONE
*/

.top-bar {
    flex-shrink: 0;
    justify-content: flex-end;
    padding: 1rem 0;
    background-color: var(--top-bar-color);
    margin-right: 0.3rem;
    width: 100%;
}

.upgrade-btn {
    border-radius: 25px;
    border: 1px solid white;
    padding: 0.6rem 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.app-content {
    background-color: var(--app-cont-color);
}

.bottom-bar {
    padding: 1rem 0;
}









/******************************
    RESPONSIVE
*******************************/

/* --- LARGE DESKTOP --- */
