/******************************
    GENERAL STYLES
*******************************/

:root {
    /* Palette */
    --green: #c8ff62;
    /* Commons */
    --top-bar-color: #13141a;
    --app-cont-color: #1e2128;
    --bottom-bar-color: #2e2e2e;
    --text-color: #727272;
    --home-icon-color: #d2d2d2;
    --plus-button-color: #a3a3a3;
}

/* -- RESET -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;;
}

.app-container {
    height: 100vh;
}

/******************************
    UTILITIES
*******************************/

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.fb-0 {
    flex-basis: 0;
}

.of-auto {
    overflow: auto;
}

.of-hid {
    overflow: hidden;
}

.noshrink {
    flex-shrink: 0;
}

.ai-center {
    align-items: center;
}

.white {
    color: white;
}

/******************************
    SITE SECTIONS
*******************************/

/* ----- SIDEBAR -----*/

.sidebar {
    width: 215px;
    color: var(--text-color);
    background-color: black;
    padding-top: 1.3rem;
}

.sidebar span {
    font-weight: 600;
}

.logo-spot, .playlist-zone, .side-bottom-zone, .side-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/*
LOGO
*/
.logo-spot {
    width: 60%;
    padding-bottom: 1rem;
}


/*
MENU
*/
.top-side-menu {
    padding-bottom: 1rem;
    width: 100%;
}

.side-item {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 0.8rem;
    align-items: flex-end;
}

.side-item.white {
    border-left: 3px solid var(--green);
}

.side-item.white > svg {
    position: relative;
    right: 3px;
}

.side-item > svg {
    height: 1.5rem;
    padding-right: 0.5rem;
}

/*
PLAYLISTS
*/

.crea-pl {
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
}

.crea-pl > span {
    font-size: 0.75rem;
}

.fa-square-plus {
    font-size: 2.4rem;
    padding-right: 0.6rem;
    color: var(--plus-button-color)
}

ul {
    list-style: none;
}

ul > li {
    line-height: 2rem;
    font-weight: 600;
}

ul > li {
    font-size: 0.7rem;
}
/*
INSTALL
*/
.install {
    padding-top: 0.4rem;
    padding-bottom: 0.6rem;
    font-size: 0.85rem;
    align-items: center;
}

.fa-circle-down {
    padding-right: 0.6rem;
}

.install > span {
    font-size: 0.7rem;
}

/*
ACCOUNT BOX
*/
.gray-rule {
    width: 100%;
    background-color: var(--text-color);
    height: 1.5px;
}

.account {
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
    align-items: center;
}

.acc-circle {
    display: inline-block;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 1.5rem;
    background-color: #808080;
}

.account > svg {
    width: 1.5rem;
}

.username {
    display: inline-block;
    padding-left: 0.6rem;
    font-size: 0.9rem;
}

/* ----- PROPER APP ZONE -----*/

.app-zone {
    background-color: var(--app-cont-color);
}

/* ----- TOP BAR -----*/

.top-bar {
    justify-content: flex-end;
    padding: 1rem 0;
    background-color: var(--top-bar-color);
    width: 100%;
}

.upgrade-btn {
    border-radius: 25px;
    border: 1px solid white;
    padding: 0.6rem 2rem;
    font-size: 0.65rem;
    font-weight: 600;
    margin-right: 0.6rem;
    color: white;
    cursor: pointer;
}

/* ----- MUSIC SCROLLABLE BOX -----*/

.app-content {
    background-color: var(--app-cont-color);
}




/* ----- BOTTOM BAR -----*/

.bottom-bar {
    background-color: var(--bottom-bar-color);
    min-height: 80px;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-between;

}

/*
LEFT SECTION
*/
.bottom-left {
    flex-basis: 215px;
    justify-content: space-between;
}

.img-cont {
    width: 65px;
    padding: 8px;
}

.img-cont > img {
    width: 100%;
    aspect-ratio: 1;
}

.song-play {
    font-size: 0.8rem;
    font-weight: 700;
}

.artist-play {
    font-size: 0.6rem;
    font-weight: 700;
    color: #888888;
}

.icons-space {
    gap: 0.5rem;
    color: #888888;
}



/*
CENTRAL SECTION
*/




/*
RIGHT SECTION
*/
.bottom-right {
    flex-basis: 215px;
}



/******************************
    RESPONSIVE
*******************************/

/* Breakpoints:
- 500px (min)
- 600px
- 700px
- 1100px */


/* --- LARGE DESKTOP --- */
